AddHandler cgi-script .py
Options +ExecCGI
DirectoryIndex index.py

AuthType Basic
AuthName "MonitorNjus Admin Panel"
AuthUserFile /var/www/virtual/steffend/monitornjus.steffend.de/admin/.htpasswd
require valid-user